@import "../../styles/config"
.img
    height: 100%; 
    width: 100%; 
    object-fit: contain
    &--div
        max-height: 100%;
        max-width: 700px;

.square-list
    list-style-type: square;

.recipe
    &--div
        margin: 20px 0 20px 0
    &--row
        background-color $white-smoke-color
        padding 10px