@import "../../../../styles/config"

.img
    height: 100%; 
    width: 100%; 
    object-fit: contain
    &--div
        max-height: 100%;
        max-width: 700px;

.square-list
    list-style-type: square;

.special
    &--div
        margin: 20px 0 20px 0
    &--ad
        padding: 10px
        font-size 12px
        background-color:$salmon-color
        color:$white-color

.map-height
    height:100px
    &--150
        height: 150px
    &--200
        height: 200px