 @import "../../../../styles/config"

.loader
    &--div
        height:420px
    &--img
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
