 @import "../../../../../styles/config"

.header
    background: $black-color
    span
        color: $white-color
    &--logo
        padding-bottom: 10px

.fixed
    position: sticky
    z-index: 2
    top:0
